
body {
    font-family: 'Special Elite', cursive;
    background: #00FFFF;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;



}
img {
    width: 200px;    height: 400px;}
    .copy_right_footer {
        position: fixed;
        color: #6c757d;
        bottom: 0;
        width: 100%;
        background-color: #f5f5f5;
        line-height: 3;
        text-align: center;
    }